body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
body {
  background-color: #ffffff;
  font-family: "Prata", serif;
  color: #333333;
  font-size: 15px;
  line-height: 24px;
}
.no-padding {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2,  h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #009933;
  text-align: center; 
  font-size: 80px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}
/*-- banner --*/
.banner{
    background: rgba(0, 0, 0, 0.38);
    background-size: cover;
    padding: 1em 0 5em;
}
.header {
    border-bottom: solid 1px rgba(134, 134, 134, 0.23);
}
.logo{
  float:left;
}
.logo h1{
  margin:0;
}
.logo h1 a{
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
/*-- top-nav --*/
.top-nav {
    margin: 2em 0 0 0;
  float: right;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 1em;
    float: left;
}
.top-nav ul li:nth-child(6){
  margin-right:0;
}
ul.nav.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    border-right: solid 1px #009933;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a{
    color: #fff !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: solid 1px rgba(134, 134, 134, 0);
}
.top-nav ul li a:hover{
    color: #009933 !important;
    padding-bottom: 1em;
    border-bottom: solid 1px #009933;
}
.top-nav ul li a.active{
    color: #009933 !important;
    padding-bottom: 1em;
    border-bottom: solid 1px #009933;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
.banner-info{
    text-align: center;
    margin: 6em auto 4em;
    width: 70%;
}
.banner-info h2{
    font-size: 3.5em;
    font-family: 'Francois One', sans-serif;
    color: #FFFFFF;
    margin: 0;
}
.banner-info p{
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1.8em;
    margin: 2em 0 0 0;
}
.banner-grad-img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.banner-grad-img img{
  width: 100%;
    border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
    border: solid 8px #FFF;
}
.banner-grad-img h4{
    margin: 1em 0 0 0;
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
}
/*-- //banner --*/

.mu-readmore-btn {
  background-color: #009933;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 35px;
  position: relative;
 
}

.mu-readmore-btn::after {
  bottom: 5px;
 
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.mu-readmore-btn:hover, 
.mu-readmore-btn:focus {
  color: #fff;
}

.mu-readmore-btn:hover::after, 
.mu-readmore-btn:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}

.mu-browsmore-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 12px 25px;

}
.mu-browsmore-btn:hover, 
.mu-browsmore-btn:focus {
  color: #fff;
}

#mu-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.mu-main-navbar {
  background-color: #f2f2f2;
  border: none;
  padding: 20px 0;
  border-radius: 0;
  margin-bottom: 0;
}
.mu-main-navbar .mu-main-nav {
  font-family: "Open Sans", sans-serif;
}

.mu-main-navbar .mu-main-nav li a {
  color: #333;

}

.mu-main-navbar .mu-main-nav .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
}

.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}

.mu-main-navbar .navbar-header .navbar-brand {
  color: #333;
  display: inline-block;
  font-weight: 700;
  font-size: 35px;  
  padding: 0;
  margin-top: 16px;
  height: 34px;
  width: 180px;

}
.mu-main-navbar .navbar-header .navbar-brand img {
  margin-top: -10px;
}

.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.mu-main-navbar .navbar-header .navbar-brand-small span {
  margin-top: -4px;
}




#mu-slider {
  display: inline;
  float: left;
  margin-top: 90px;
  width: 100%;
  position: relative;
}
.mu-slider-area {
  display: inline;
  float: left;
  width: 100%;
}
.mu-top-slider {
  display: inline;
  float: left;
  width: 100%;
}

.mu-top-slider-single {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
.mu-top-slider .mu-top-slider-single:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.mu-top-slider .mu-top-slider-single img {
  width: 100%;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content {
  position: absolute;
  left: 15%;
  top: 30%;
  right: 15%;
  text-align: center;
  z-index: 99;
}
.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
  font-family: "Tangerine", cursive;
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}
#mu-gallery {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}

.mu-top-slider .slick-prev::before {
  content: "\f177";
  font-family: fontAwesome;
}

.mu-top-slider .slick-next::before {
  content: "\f178";
  font-family: fontAwesome;
}

.mu-top-slider .slick-prev,
.mu-top-slider .slick-next {
  background-color: #009933;
  border: 20px solid #888;
  height: 60px;
  top: 50%;
  width: 70px;
}

.mu-top-slider .slick-prev::before,
.mu-top-slider .slick-next::before {
  color: #009933;
}

.mu-top-slider .slick-prev:hover, 
.mu-top-slider .slick-prev:focus,
.mu-top-slider .slick-next:hover,
.mu-top-slider .slick-next:focus {
  color: #009933;
}

.mu-top-slider .slick-prev:hover::before, 
.mu-top-slider .slick-prev:focus::before,
.mu-top-slider .slick-next:hover::before,
.mu-top-slider .slick-next:focus::before {
  color: #009933;
}

.mu-top-slider .slick-prev {
  left: 20px;
}

.mu-top-slider .slick-next {
  right: 20px;
}

.mu-top-slider .slick-dots {
  bottom: 20px;
}

.mu-top-slider .slick-dots li button {
  border-radius: 50%;
}
.mu-top-slider .slick-dots li button::before {
  color: #009933;
  background: transparent;
  border-radius: 50%;
 
}

.mu-top-slider .slick-dots li.slick-active button::before {
  color: #009933;
  border-radius: 50%;
  opacity: 1;
}
#mu-about-us-area{

}
.part1{
}
#mu-about-us {

  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}
.mu-about-us-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 15px;
  width: 100%;
}

.mu-about-us-right ul {
  margin-bottom: 20px;
  padding-left: 25px;
}

.mu-about-us-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}

.mu-about-us-right ul li:before {
  content: "\f0da";
  font-family: fontAwesome;
  margin-right: 10px;
}

.mu-about-us-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 15px;
  width: 100%;
}
.mu-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#mu-cc{
  

}


.mu-title .mu-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}

.mu-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}
#mu-counter {
  background-attachment: fixed;
background-image: url(Pictures/bg.jpg);
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 100px 0;
  float: left;
  width: 100%;
}

.mu-counter-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-nav {
  display: inline-block;
  width: 100%;
}

.mu-counter-nav li {
  display: inline-block;
}

.mu-counter-nav li:last-child {
  border-right: none;
}

.mu-counter-nav li .mu-single-counter {
  color: #fff;
  display: inline;
  float: left;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}

.mu-counter-nav li .mu-single-counter span {
  font-family: "Tangerine", cursive;
  font-size: 40px;
}

.mu-counter-nav li .mu-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.mu-counter-nav li .mu-single-counter h3 span {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.mu-counter-nav li .mu-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}

.mu-counter-nav li .mu-single-counter p {
  font-size: 18px;
  
  margin-bottom: 0;
}



#mu-restaurant-menu {
  
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-restaurant-menu-content {

  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
}

.mu-restaurant-menu li { ;
  display: inline-block;
  float: none;
  background-color: #FFF;
  color: #009933
}

.mu-restaurant-menu li a {
  background-color:  #009933;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
 color: #FFF;
  font-size: 18px;
  margin: 0 15px;

}

.mu-restaurant-menu li a:hover,
.mu-restaurant-menu .active a,
.mu-restaurant-menu .active a:hover,
.mu-restaurant-menu .active a:focus {
  background-color: #FFF;
  color: #009933;
}

.mu-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.mu-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-menu-item-nav li {
  border-bottom: 1px dashed #ccc;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.mu-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.mu-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-left a,
.mu-menu-item-nav li .media .media-left a img {
  display: block;
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}


.mu-menu-item-nav li .media .media-body .mu-menu-price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.mu-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 14px;
}
.mu-coupsdecoeur {
  padding-bottom:  15px;
}
.mu-counter-coupsdecoeur {
  

}
.card-img{
  width: 150px;
}
.card{
  text-align: center;
}
#mu-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding:15px 0;
  width: 100%;
}

.mu-footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-footer-social {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.mu-footer-social a {
  background-color: #555;
  border-radius: 50%;
  color: #009933;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  margin: 5px;
  text-align: center;
  width: 45px;}

.mu-footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}
.mu-footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}

#mu-contact {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

/* contact form */

.contact-info p {
    margin: 0 auto;
    width: 84%;
}

.contact-form-inner {
    margin: 0 auto;
    width: 70%;
}

.contact-form .form-control {
    padding: 0.9em;
    color: #495057;
    border: 2px solid #d2d6da;
    border-radius: 0px;
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-form label {
    font-weight: 400;
    letter-spacing: 2px;
    color: #1c2833;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


.contact-form button.btn {
    background: #c20d00;
    padding: 15px 25px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 0px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: transparent;
    width: 100%;
}

.contact-form button.btn:hover {
    opacity: 0.8;
}

/* //contact form */

/* contact address */

.contact_grid_left ul li span {
    float: left;
    font-size: 16px;
    color: #fff;
}

.contact_grid_left li span {
    background: #7ac143;
    text-align: center;
    line-height: 56px;
    border-radius: 0px;
}

.contact_grid_left ul li p,
.contact_grid_left ul li a {
    color: #5a646b;
    letter-spacing: 1px;
}


.contact_grid_left h6 {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact_grid_right {
    background: #f7f7f7;
    padding: 5em;
}

.contact_grid_left {
    border-bottom: 1px solid #313c44;
    margin: 0 0 3em 0;
    padding-bottom: 3em;
}

.adress-info h6 {
    font-size: 1em;
    color: #17202A;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.adress-info span {
    color: #46484c;
    font-size: 2em;
    vertical-align: middle;
}

.adress-info a,
.adress-info p {
    color: #5a646b;
    letter-spacing: 1px;
    line-height: 1.9em;
    margin: 0;
}

.adress-info a {
    font-size: 0.85em;
}

form#contactform1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5em;
    padding: 0 0 5em 0;
}

/* //contact address */

/* footer */

.footer-content {
    background: url(../images/banner2.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 28em;
}

hr {
    border-top: 1px solid rgba(251, 247, 247, 0.1);
}

.layer.footer {
    min-height: 28em;
    background: rgba(0, 0, 0, 0.82);
}

.footer-top-inner-w3ls {
    padding: 5em 2em 3em 2em;
}

.footer-content h2 a {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffc80a;
}

/* footer grids */

ul.list-info-w3pvt {
    list-style: none;
}

h4.footer-title {
    color: #777;
    text-transform: capitalize;
}

.footerv3-top p {
    font-size: 1em;
    color: #a3b1bf;
    margin: 1em 0;
    line-height: 1.5em;
}

.footer p a {
    color: #fff;
    text-decoration: underline;
}

.last-w3ls-contact p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
    margin: 0;
}

.footer-top p {
    padding-right: 6em;
    color: #fff;
}

.last-w3ls-contact p a:hover {
    color: #15b915;
}

.list-info-w3pvt li a {
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
}

.list-info-w3pvt li a:hover {
    opacity: 0.8;
}

h3.w3pvt_title {
    font-size: 1.2em;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.last-w3ls-contact a {
    color: #fff;
}

.w3ls-icons li {
    display: inline-block;
    margin: 0 1em;
}

.w3ls-icons li a span {
    color: #fff;
}

.w3ls-icons li a span:hover {
    color: #ffc80a;
}

/* //footer */
*-- Responsive design --*/

@media screen and (max-width: 1440px) {

    .main-content,
    .layer {
        min-height: 45em;
    }

    .order-info {
        margin-top: 14em;
    }

    .banner-info-w3layouts {
        padding-top: 18em;

    }
}

@media screen and (max-width: 1280px) {
    .test-info {
        padding: 5em 2em 0 2em;
        width: 75%;
    }
}

@media screen and (max-width: 1080px) {

    .main-content,
    .layer {
        min-height: 40em;
    }

    .order-info {
        margin-top: 11em;
    }

    .banner-info-w3layouts {
        padding-top: 17em;
    }

    .content-left-bottom {
        margin-top: 3em;
    }

    .ab-info h4 {
        font-size: 0.9em;
        margin: 2em 0 0em 0;
    }

    .tab-wrap {
        padding: 3em 1em;
    }

    .test-info {
        padding: 5em 2em 0 2em;
        width: 70%;
    }

    .footer-top p {
        padding-right: 1em;
    }

    h3.tittle,
    h3.tittle.two {
        font-size: 2.2em;
    }
}


@media screen and (max-width: 991px) {

    .popup {
        width: 50%;
    }

    .content-left-bottom h4 {
        font-size: 1.5em;
        letter-spacing: 2px;
    }

    .content-left-bottom {
        margin-top: 2em;
    }

    .ab-content {
        width: 50%;
        float: left;
    }

    .adress-info:nth-child(2) {
        margin: 1.5em 0;
    }

    .tab-main {
        padding: 16px 0;
        width: 90%;
    }

    .test-info {
        padding: 5em 2em 0 2em;
        width: 100%;
    }

    .banner-info-w3layouts {
        padding-top: 15em;
    }

    .main-content,
    .layer {
        min-height: 38em;
    }

    h3.tittle,
    h3.tittle.two {
        font-size: 2em;
    }
}


@media screen and (max-width:768px) {
    .tab-wrap {
        padding: 2em 0em;
    }

    form#contactform1 {
        margin-bottom: 3em;
        padding: 0 0 3em 0;
    }
}

@media screen and (max-width: 767px) {
    .tab-wrap {
        padding: 2em 0em;
        margin-top: 1em;
    }

    .gal-img {
        padding: 10px;
        float: left;
        width: 50%;
    }

    .footer-top-inner-w3ls {
        padding: 2em 2em 3em 2em;
    }

    .adress-info span {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .order-info {
        margin-top: 8em;
        text-align: center !important;
    }

    .middle,
    .middle-right,
    .order-left-content,
    .order-right-content {
        text-align: center !important;
    }

    .tab-main label {
        padding: 15px 50px;
    }

    .test-info {
        padding: 1em 2em 0 0em;
        width: 100%;
    }

    .footer-content,
    .layer.footer,
    #testimonials {
        min-height: 20em;
    }
}

@media screen and (max-width: 736px) {
    .banner-info-w3layouts {
        padding-top: 13em;
    }

    .main-content,
    .layer {
        min-height: 34em;
    }

    .order-info {
        margin-top: 6em;
    }

    .content-left-bottom {
        margin-top: 0em;
    }
}

@media screen and (max-width: 667px) {

    h3.tittle,
    h3.tittle.two {
        font-size: 1.8em;
    }

    .tab-main label {
        padding: 10px 30px;
    }

    h3.tittle.order {
        font-size: 2em;
    }

    .footer-top-inner-w3ls {
        padding: 1em 0em 1em 0em;
    }

    h3.w3pvt_title {
        font-size: 1em;
    }

    .read-more {
        margin-top: 1em;
    }

    .tab-main section {
        padding: 2em 0 2em 0;
    }
}

@media screen and (max-width: 640px) {
    .banner-info-w3layouts {
        padding-top: 10em;
    }

    .main-content,
    .layer {
        min-height: 30em;
    }

    .order-info {
        margin-top: 5em;
    }
}


@media screen and (max-width:568px) {
    .ab-content {
        width: 100%;
        float: left;
    }

    .popup {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .tab-main label {
        padding: 10px 20px;
        font-size: 0.8em;
    }

    form#contactform1 {
        margin-bottom: 2em;
        padding: 0 0 2em 0;
    }
}

@media screen and (max-width: 414px) {
    .content-left-bottom h4 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 384px) {

    h3.tittle,
    h3.tittle.two {
        font-size: 1.6em;
    }

    .main-content,
    .layer {
        min-height: 25em;
    }

    .banner-info-w3layouts {
        padding-top: 8em;
    }

    .order-info {
        margin-top: 4em;
    }

    .content-left-bottom h4 {
        font-size: 1.2em;
    }

    .test-info {
        padding: 0em 0em 0 0em;
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .tab-main {
        padding: 16px 0;
        width: 100%;
    }
}





