
body {
  background-color: #ffffff;
  font-family: "Prata", serif;
  color: #333333;
  font-size: 15px;
  line-height: 24px;
}
.no-padding {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2,  h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #009933;
  text-align: center; 
  font-size: 80px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}

.mu-readmore-btn {
  background-color: #009933;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 35px;
  position: relative;
 
}

.mu-readmore-btn::after {
  bottom: 5px;
 
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.mu-readmore-btn:hover, 
.mu-readmore-btn:focus {
  color: #fff;
}

.mu-readmore-btn:hover::after, 
.mu-readmore-btn:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}

.mu-browsmore-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 12px 25px;

}
.mu-browsmore-btn:hover, 
.mu-browsmore-btn:focus {
  color: #fff;
}

#mu-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.mu-main-navbar {
  background-color: #f2f2f2;
  border: none;
  padding: 20px 0;
  border-radius: 0;
  margin-bottom: 0;
}
.mu-main-navbar .mu-main-nav {
  font-family: "Open Sans", sans-serif;
}

.mu-main-navbar .mu-main-nav li a {
  color: #333;

}

.mu-main-navbar .mu-main-nav .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
}

.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}

.mu-main-navbar .navbar-header .navbar-brand {
  color: #333;
  display: inline-block;
  font-weight: 700;
  font-size: 35px;  
  padding: 0;
  margin-top: 16px;
  height: 34px;
  width: 180px;

}
.mu-main-navbar .navbar-header .navbar-brand img {
  margin-top: -10px;
}

.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.mu-main-navbar .navbar-header .navbar-brand-small span {
  margin-top: -4px;
}




#mu-slider {
  display: inline;
  float: left;
  margin-top: 90px;
  width: 100%;
  position: relative;
}
.mu-slider-area {
  display: inline;
  float: left;
  width: 100%;
}
.mu-top-slider {
  display: inline;
  float: left;
  width: 100%;
}

.mu-top-slider-single {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
.mu-top-slider .mu-top-slider-single:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.mu-top-slider .mu-top-slider-single img {
  width: 100%;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content {
  position: absolute;
  left: 15%;
  top: 30%;
  right: 15%;
  text-align: center;
  z-index: 99;
}
.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
  font-family: "Tangerine", cursive;
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}
#mu-gallery {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}

.mu-top-slider .slick-prev::before {
  content: "\f177";
  font-family: fontAwesome;
}

.mu-top-slider .slick-next::before {
  content: "\f178";
  font-family: fontAwesome;
}

.mu-top-slider .slick-prev,
.mu-top-slider .slick-next {
  background-color: #009933;
  border: 20px solid #888;
  height: 60px;
  top: 50%;
  width: 70px;
}

.mu-top-slider .slick-prev::before,
.mu-top-slider .slick-next::before {
  color: #009933;
}

.mu-top-slider .slick-prev:hover, 
.mu-top-slider .slick-prev:focus,
.mu-top-slider .slick-next:hover,
.mu-top-slider .slick-next:focus {
  color: #009933;
}

.mu-top-slider .slick-prev:hover::before, 
.mu-top-slider .slick-prev:focus::before,
.mu-top-slider .slick-next:hover::before,
.mu-top-slider .slick-next:focus::before {
  color: #009933;
}

.mu-top-slider .slick-prev {
  left: 20px;
}

.mu-top-slider .slick-next {
  right: 20px;
}

.mu-top-slider .slick-dots {
  bottom: 20px;
}

.mu-top-slider .slick-dots li button {
  border-radius: 50%;
}
.mu-top-slider .slick-dots li button::before {
  color: #009933;
  background: transparent;
  border-radius: 50%;
 
}

.mu-top-slider .slick-dots li.slick-active button::before {
  color: #009933;
  border-radius: 50%;
  opacity: 1;
}
#mu-about-us-area{

}
.part1{
}
#mu-about-us {

  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}
.mu-about-us-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 15px;
  width: 100%;
}

.mu-about-us-right ul {
  margin-bottom: 20px;
  padding-left: 25px;
}

.mu-about-us-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}

.mu-about-us-right ul li:before {
  content: "\f0da";
  font-family: fontAwesome;
  margin-right: 10px;
}

.mu-about-us-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 15px;
  width: 100%;
}
.mu-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#mu-cc{
  

}


.mu-title .mu-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}

.mu-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}
#mu-counter {
  background-attachment: fixed;
background-image: url(Pictures/bg.jpg);
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 100px 0;
  float: left;
  width: 100%;
}

.mu-counter-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-counter-nav {
  display: inline-block;
  width: 100%;
}

.mu-counter-nav li {
  display: inline-block;
}

.mu-counter-nav li:last-child {
  border-right: none;
}

.mu-counter-nav li .mu-single-counter {
  color: #fff;
  display: inline;
  float: left;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}

.mu-counter-nav li .mu-single-counter span {
  font-family: "Tangerine", cursive;
  font-size: 40px;
}

.mu-counter-nav li .mu-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.mu-counter-nav li .mu-single-counter h3 span {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.mu-counter-nav li .mu-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}

.mu-counter-nav li .mu-single-counter p {
  font-size: 18px;
  
  margin-bottom: 0;
}



#mu-restaurant-menu {
  
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-restaurant-menu-content {

  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
}

.mu-restaurant-menu li { ;
  display: inline-block;
  float: none;
  background-color: #FFF;
  color: #009933
}

.mu-restaurant-menu li a {
  background-color:  #009933;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
 color: #FFF;
  font-size: 18px;
  margin: 0 15px;

}

.mu-restaurant-menu li a:hover,
.mu-restaurant-menu .active a,
.mu-restaurant-menu .active a:hover,
.mu-restaurant-menu .active a:focus {
  background-color: #FFF;
  color: #009933;
}

.mu-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.mu-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-menu-item-nav li {
  border-bottom: 1px dashed #ccc;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.mu-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.mu-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-left a,
.mu-menu-item-nav li .media .media-left a img {
  display: block;
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}


.mu-menu-item-nav li .media .media-body .mu-menu-price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.mu-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 14px;
}
.mu-coupsdecoeur {
  padding-bottom:  15px;
}
.mu-counter-coupsdecoeur {
  

}
.card-img{
  width: 150px;
}
.card{
  text-align: center;
}
#mu-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding:15px 0;
  width: 100%;
}

.mu-footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-footer-social {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.mu-footer-social a {
  background-color: #555;
  border-radius: 50%;
  color: #009933;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  margin: 5px;
  text-align: center;
  width: 45px;}

.mu-footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}
.mu-footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}

#mu-contact {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}







